meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
title  سمارت موتورز
//-Font family
link(rel="preconnect" href="https://fonts.googleapis.com")
link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
link(href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600&display=swap" rel="stylesheet")
//-Font Awesome Library 
link(rel="stylesheet" href="CSS/all.min.css" )
//-bootstrap link
link(rel="stylesheet" href="CSS/bootstrap.min.css")
//-css style 
link(rel="stylesheet", href="SASS/pages/index.css")
