@use "../helper/helper" as*;
@use "../component/component" as*;
//########Start header#########
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: right;
}
ul {
    list-style: none;
}
html{
    scroll-behavior:smooth;
    transition: all 2s ease-in-out;
}

body{
    box-sizing: border-box;
    direction: rtl;
    height: 10000px;
    font-family: 'Readex Pro', sans-serif;
    scroll-behavior: smooth;
    transition: all 2s ease-in-out;
}
.overlay{
    background-color: #00000072;
    width: 85%;
    height: 105%;
    position: absolute;
    top:40px;
    left: 0;
    z-index: 1;
}
.show-nav{
    background-color: $blue-color;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    z-index: 100;
    li{
        padding: 10px 0;
        width: 100%;
        border-bottom: 1px solid $white-gray-color;
    }
}
header{
    background-image: url("../../image/0.png");
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative; 
    transition: all 1s ease-in-out;
    overflow: hidden;
    .title-section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #B2B2B2;
        z-index: 2;
        position: sticky;
        z-index: 2;
        padding: 10px 0;
        opacity: 0;
        transform: translateX(-100%);
        animation: fadeInDown 1S ease-in-out forwards ;
        h2{
            color: #FFF;
            span{
                color:$red-color;
            }
        }
        .header-icon{
            .phone-numbers{
                display: flex;
                justify-content: space-between;
                align-items: center;
                list-style: none;
                padding: 10px;
                color: #FFF;
                @include breakPoint(xs){display: none;}
                @include breakPoint(sm){display: none;}
                @include breakPoint(md){display: none;}
                li{
                    padding: 10px 30px 0  10px ;
                    i {
                        margin-left: 10px;
                    }
                    &:first-child{
                        border-left: 1px solid #000;
                    }
                }
            }
            .icon-small-screen{
                i{
                    padding: 0 10px ;
                    cursor: pointer;
                    color:#FFF;
                    font-size: 22px;
                }
                @include breakPoint(xs){display: block;}
                @include breakPoint(lg){display: none;}
                @include breakPoint(xl){display: none;}
                @include breakPoint(xxl){display: none;}
            }
        }
        
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        width:80%;
        z-index: 100;
        opacity: 0;
        transform: translateX(-100%);
        animation: fadeInDown 1S ease-in-out 1s forwards ;
        @include breakPoint(sm){
            width: 100%;
        }
        @include breakPoint(xs){
            width: 100%;
        }
        ul {
            color: #FFF;
            font-size: 18px;
            font-weight: 500;
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            padding: 10px;
            li{
                cursor: pointer;
                transition: all 0.5s ease-in-out;
                
                a{
                    padding-left: 20px;
                    text-decoration: none;
                    color: #FFF;
                    &:hover{
                        color:$red-color;
                    }
                }
            }
            @include breakPoint(xs){display: none;}
            @include breakPoint(sm){display: none;}
            @include breakPoint(md){display: none;}
        }
        .nav-icon{
            justify-content: flex-end;
            @include breakPoint(xs){display: none;}
            @include breakPoint(lg){display: flex;}
            i{
                font-size: 20px;
                padding: 0 10px ;
                
            }
            
        }
    }
    .landing-text {
        color: #FFF;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 50%;
        z-index: 2;
        opacity: 0;
        transform: translateX(100%);
        animation: fadeInRight 2S ease-in-out forwards ;
        @include breakPoint(sm){
            top: 30%;
        }
        @include breakPoint(xs){
            top: 20%;
        }
        h2{
            padding-bottom: 20px;
            span{
                color: $red-color;
            }
        }
    }
    .search-container{
        position: absolute;
        z-index: 2;
        top: 64%;
        left: 10%;
        padding: 10px;
        background-color: #0B0D10;
        color: #FFF;
        width: 40%;
        opacity: 0;
        animation: fadeIn 1S ease-in-out 2s forwards ;
        @include breakPoint(sm){
            width:80%;
            bottom: 10px;
        }
        @include breakPoint(xs){
            width: 80%;
            bottom: 10px;
        }
        .active {
            border-bottom: 1px solid #FFF;
            background-color: #171717;
        }
        ul{
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;
            li{
                padding: 10px 20px;
                cursor: pointer;
            }
        }
        .input-holder{
            position: relative;
            margin: 10px 0;
            
            input{
                background-color: $blue-color;
                width: 100%;
                border: none;
                padding: 10px 10px;
                color: #FFF;
                [type="button"]{
                    text-align: center;
                }

                &:focus{
                    outline: none;
                }
            }
            input[type="button"]{
                text-align: center;
            }
            i{
                position: absolute;
                top: 15px;
                left: 25px;
            }
            select{
                background-color: $blue-color;
                width: 100%;
                border: none;
                color: #FFF;
                padding: 10px 0;
            }
        }
    }
}

//########End header#########
//########start defition#########
.defintion{
    
    background-color: $white-gray-color;
    padding: 150px 0;
    position: relative;
    transition: all 1s ease-in-out;
    h3{
        width: 30%;
        opacity: 0;
    }
    .container>p{
        width: 50%;
        opacity: 0;
    }
    .call-center{
        position: absolute;
        left: 30%;
        bottom: 15%;
        width: 200px;
        display: flex;
        align-items: center;
        color: $red-color;
        i{
            font-size: 30px;
            font-weight: bold;
        }
        p{
            text-wrap: nowrap;
            padding-top: 15px;
            margin-right: 10px;
        }
    }
}
//########End defition#########
//########Start Some-cars#########
.some-cars{
    background-color: $med-gray-color;
    padding: 50px;
    overflow: hidden;
    >.container{
        text-align: center;
        transition: all 1s ease-in-out;
    }
    button{
        background-color: inherit;
        width: 50%;
        padding: 10px 20px ;
        color: #004A77;
        border: 2px solid #004A77;
        margin-top: 50px;
        text-align: center;
        cursor: pointer;
    }
    .row{
        display: flex;
        justify-content: space-around;
        align-items: center;
        .car-box{
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin: 20px 0;
            opacity: 0;
            p{
                font-size: 20px;
                text-align: center;
            }
            ul{ 
                display: flex;
                list-style: none;
                justify-content:center;
                align-items: center;
                padding: 0 !important;
                li{
                    font-size: 20px;
                    cursor: pointer;
                    i{
                        padding: 10px;
                        color: #818181;
                    }
                }
            }
        }
    }
}
//########End some-cars#########
//########ٍstart ride-destination#########
.ride-destination{
    padding: 100px 0;
    background-color: $dark-gray-color;
    color: #FFF;
    .ride-title{
        transform-origin: 100%;
        opacity: 0;
        p{
            color: $red-color;
            padding: 10px 0;
        }
    }
    .ad-box{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        opacity: 0;
        h4{
            max-width: 50%;
        }
        p{
            max-width: 50%;
            text-align: end;
            color:#ffffff80;
            direction: ltr;
        }
    }
    img{
        max-width: 100%;
        opacity: 0;
    }
}
//########End ride-destination#########
//########ٍstart car-rent#########
.car-rent {
    background-image: url("../../image/car-rent.png");
    background-size: cover;
    height: 430px;
    padding: 50px ;
    color: #FFF;
    display: flex;
    align-items: center;
    h3,h4,button{
        margin: 20px 0;
    }
    h3{
        font-size: 38px;
    }
    button{
        padding: 10px 20px;
        border:2px solid $red-color;
        background-color: inherit;
        color: $red-color;
        font-weight: bold;
    }
}
//########End car-rent#########
//########ٍstart car-recomendation #########
.car-recomendation{
    padding: 50px 0;
    background-color: $white-gray-color;
    h2{
        padding-top: 50px 0;
        margin-top: 50px;
    }
    ul{
        padding: 10px 0;
        display: flex;
        li{
            margin: 0 10px;
            font-size: 18px;
            font-weight: 500;
        }
    }
}
.car-recomendation-box {
    background-color: #0B0C10;
    color: #FFF;
    padding: 20px;
    position: relative;
    overflow: hidden;
    margin-top: 10px;
    opacity: 0;
    h2{
        padding-top: 50px;
    }
    .featured {
        position: absolute;
        background-color: #4DA8DA;;
        transform: rotate(-45deg);
        left: -36px;
        padding: 5px 40px;
        z-index: 5;
    }
    img{
        width: 100%;
        position: relative;

    }
    span{
        display: block;
        color: #007CC7;
        padding: 5px 10px ;
        border:2px solid #007CC7;
        width: fit-content;
        border-radius: 5px;
        margin: 10px 0;
    }
    h4 {
        height:50px;
    }
    .price{
        font-size: 24px;
        color:#007CC7
    }
    .properties {
            ul{
            list-style: none;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px; 
            padding: 10px 0;
            border-bottom: 1px solid #FFF;
            li{
                display: flex;
                i{
                    color: #007CC7;
                    font-size: 18px;
                    margin: 0 10px ;
                }
            }
        }
    }
    
    .stars{
        display: flex;
        border-top:1px solid #FFf;
        border-bottom: none;
        margin: 10px 0;
        padding: 10px 0;
        li{
            margin: 0 5px ;
            font-size: 16px;
        }
    }

}
.car-recomendation-box:not(:last-child){
    &::after{
        content: "";
        position: absolute;
        top: 1px;
        left: 79px;
        border: 10px solid #004A77;
    }
    &::before{
        content: "";
        position: absolute;
        top: 80px;
        left: 0px;
        border: 10px solid #004A77;
    }
}
.comprisation {
    justify-content: space-around;
    padding-top: 50px;
    position: relative;
    .car-recomendation-box{
        margin: 50px 0;
    }
    &::after{
        content: "VS";
        position: absolute;
        top: 50%;
        left:50%;
        width: 50px;
        height: 50px ;
        border-radius: 50%;
        transform: translate(-50%,-50%);
        background-color: #0B0C10;
        color: #FFF;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    button{
        background-color: inherit;
        width: 50%;
        padding: 10px 20px ;
        color: #004A77;
        border: 2px solid #004A77;
        margin-top: 50px;
        text-align: center;
    }
}
//########End car-recomendation#########
//########ٍstart support-part  #########
.support-part {
    background-color: $med-gray-color;
    padding: 50px 0;
    color: #f1f1f1;
    .support-part-title{
        width: 100%;
        border-bottom: 1px solid #0B0C10; 
        
        h2{
            padding: 50px 0;
            
            width: 50%;
        }
    }
    .support-part-box{
        padding: 10px;
        min-height: 300px;
        position: relative;
        opacity: 0;
        h4{
            min-height: 50px;
        }
        p{
            color: rgba(241, 241, 241, 0.7);
        }
        &::after{
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 1px;
            background-color: #0B0C10;
            height: 150px;
            @include breakPoint(xs){
                left:50% ;
                top: 90%;
                width:150px ;
                height: 1px;
                transform: translateX(-50%);
            }
            @include breakPoint(sm){
                left:50% ;
                top: 90%;
                width:150px ;
                height: 1px;
                transform: translateX(-50%);
            }
        }
    }
    .stars{
        display: flex;
        color: $red-color;
    }

}
//########End support-part#########
//########ٍstart banner-part#########
.banner-part{
    background-image: url(../../image/banner.png);
    background-size: cover;
    height: 500px;
    position: relative;
    .overlay{
        width: 100%;
        height: 100%;
        top:0;
    }
    h3{
        position: absolute;
        z-index: 5;
        top: 50%;
        transform:translateY(-50%)
    }
    h3{
        color: #FFF;
        span{
            display: block;
            color:$red-color;
            font-size: 22px;
            padding: 10px 0;
        }
    }
}
//########End banner-part #########
//########ٍstart contact-info#########
.contact-info{
    padding: 100px 0;
    position: relative;
    background-color: $med-gray-color;
    h2 {
        color: #FFF;
        padding-bottom: 50px;
        margin-bottom: 50px;
        border-bottom: 1px solid $dark-gray-color;
    }
    
    .contact-form {
        background-image: url("../../image/contact-info-bg.png");
        background-size: cover;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 100px;
        position: relative;
        @include breakPoint(sm) {
            flex-direction: column;
            text-align: center;
            iframe{
                width: 400px;
                
            }
            form{
                margin: 0 0 50px 0 !important;
            }
        }
        @include breakPoint(xs) {
            flex-direction: column;
            text-align: center;
            iframe{
                max-width:300px;
            }
            form{
                margin: 0 0 50px 0 !important;
            }
        }
        .overlay{
            width: 100%;
            height: 100%;
            top: 0;
        }
        form, iframe{
            position: relative;
            z-index: 3;
        }
        iframe{
            flex:1;
        }
        form{
            flex:1;
            display: flex;
            flex-direction: column;
            margin-left: 100px;
            h3{
                color :#FFF;
                padding-bottom: 30px;
            }
            label{
                color: #FFF;
                padding: 5px 0;
            }
            input,textarea{
                background-color: $blue-color;
                color: $white-gray-color;
                border: none;
                padding: 10px;
                margin-bottom: 10px;
                &:focus{
                outline: none;
                }
                &[type="submit"]{
                    background-color: #007CC7;
                    text-align: center;
                    margin-top: 15px;
                }
            }
        }
        
    }
}
.our-services{
    color: #FFF;
    padding: 100px 0;
    h3{
        padding-bottom: 20px;
    }
    ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        @include breakPoint(xs) {
            padding: 0;
            grid-template-columns: repeat(1, 1fr);
        }
        li{
            background-color: #0B0C10;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px 20px;
            border-radius: 10px;
            height: 200px;
            box-shadow:0px 3px 9px #222222;
            transition:all 0.5s ease-in-out;
            &:hover{
                transform:scale(1.05)
            }
            i{
                font-size: 30px;
                padding: 10px;
            }
            h4{
                padding: 10px;
            }
        }
    }
}
.about-us {
    padding: 50px;
    color:#FFF;
    background-color: #0B0C10;
    margin: 50px 0;
    .about-us-content {
        display: flex;
        justify-content: space-between;
        @include breakPoint(sm) {
            flex-direction: column;
        }
        @include breakPoint(xs) {
            flex-direction: column;
        }
    }
    .about-us-text {
        flex: 1;
        margin-top: 30px;
        ul {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            @include breakPoint(xs){
                padding-bottom: 30px;
            }
            li {
                font-size: 16px;
                display: block;
                margin-top: 30px;
                position: relative;
                transition:all 0.5s ease-in-out;
                transform-origin: 50%;
                &:hover{
                    transform:scale(1.05);
                }
                span{
                    font-size: 34px;
                    margin-top: 30px ;
                    display: block;
                }
                &::after{
                    content: " ";
                    position: absolute;
                    bottom: -10%;
                    right: 0;
                    width: 100px;
                    height: 2px;
                    background-color: $red-color;
                }
                &::before{
                    content: " ";
                    position: absolute;
                    bottom: -20%;
                    right: 0;
                    width: 70px;
                    height: 2px;
                    background-color: $red-color;
                }
            }
        }
    }
    .image-container {
        flex: 1;
        img{
            max-width: 100%;
        }
    }
}
.car-gallary{
    padding: 50px 0;
    color: #FFF;
    background-color: #111417;
    @include breakPoint(sm){
        padding:50px;
    }
    @include breakPoint(xs){
        padding:50px;
    }
    .container{
        position: relative;
        height: 700px;
        overflow: hidden;
        @include breakPoint(sm){
            height: 800px;
        }
        @include breakPoint(xs){
            height: 900px;
        }
    }
    .car-gallary-text{
        max-width: 40%;
        @include breakPoint(sm){
            max-width: 100%;
            text-align: center;
        }
        @include breakPoint(xs){
            max-width: 100%;
            text-align: center;
        }
        p{
            padding: 10px 0;
            color: $white-gray-color;
        }
    }
    img{
        width: 270px ;
        height: 360px;
        margin-right: 55px;
        transition: all 1s ease-in-out;
    }
    .car-gallary-container {
        position: absolute;
        bottom: 100px;
        left:0;
        display: flex;
        flex-direction: row-reverse;
        align-items: baseline;
        overflow: hidden;
        transition: all 1s ease-in-out;
    }
    .active-image{
        width: 380px;
        height: 520px;
    }
    .car-gallary-btns{
        position:absolute;
        display: flex;
        justify-content: space-between;
        bottom: 10px;
        width: 100%;
        left: 0;
        input{
            background-color: $red-color;
            border: none;
            color: #FFF;
            padding: 10px 20px;
            border-radius: 10px;
            cursor: pointer;
        }
        .disable-btn{
            opacity:0.5;
            cursor: not-allowed;
        }
    }
}
.market {
    padding: 50px 0;
    background-color: $dark-gray-color;
    position: relative;
    .overlay{
        width: 100%;
        height: 100%;
        top:0;
        background-color: #00000052;
    }
    .first-row,.scond-row{
        display: flex;
        justify-content: space-evenly;
        padding: 20px 0;
        img {
            width: 150px;
            
        }
    }
    @include breakPoint(md){
        .first-row{
            display: grid;
            grid-template-columns: repeat(3);
        }
        .scond-row{
            display: none;
        }
    }
    @include breakPoint(sm){
        .first-row{
            display: grid;
            grid-template-columns: repeat(3);
        }
        .scond-row{
            display: none;
        }
    }
    @include breakPoint(xs){
        .first-row{
            display: grid;
            grid-template-columns: repeat(3);
        }
        .scond-row{
            display: none;
        }
    }
}
footer{
    background-color: #282828;
    color: #FFF;
    padding: 50px 0;
    .container{
        &>p{
            text-align: center;
            padding: 10px;
        }
    }
    h2{
        text-align: center;
        padding-bottom: 20px ;
        margin-bottom: 40px;
        border-bottom: 1px solid $white-gray-color;
        span {
            color: $red-color;
        }
    }
    section {
        display: flex;
        width: 100%;
        justify-content: space-between;
        border-bottom: 1px solid $white-gray-color;
        @include breakPoint(xs) {
            flex-direction: column;
            ul {
                width: 100%;
                text-align: center;
                padding-bottom: 30px;
            }
        }
        @include breakPoint(sm) {
            flex-direction: column;
            ul {
                width: 100%;
                text-align: center;
                padding-bottom: 30px;
            }
        }
        ul{
            li{
                padding:5px 0 ;
                cursor: pointer;
                a{
                    text-decoration: none;
                    color:#FFF;
                    transition: all 0.5s ease-in-out;
                    &:hover{
                        color: $red-color;
                    }
                }
            }
        }
    }
    .dev-links{
        display: flex;
        font-size: 30px ;
        li{
            padding-left: 20px;
            a{
                &:hover{
                    color: #FFF;
                }
                i{
                    transition: all 0.5s ease-in-out;
                }
                .fa-facebook:hover{
                    color:#1877F2;
                }
                .fa-whatsapp:hover{
                    color:#25D366;
                }
                .fa-linkedin:hover {
                    color: #0077B5; 
                }
                .fa-instagram:hover {
                    color: #E4405F;
                }
            }
        }
    }
}
